:root {
  --white: #ffffff;
  --darkBlue: #0B132B;
  --navyBlue: #1c2541;
  --lightBlue: #3A506B;
  --blueGreen: #5BC0BE;
}

body {
  background-color: var(--lightBlue);
  color: var(--darkBlue);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  border-radius: 10px;
  border: 7.5px solid var(--blueGreen);
  margin: 10px;
  padding: 5px;
  background-color: var(--white)
}

button {
  width: 25%;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  margin-right: 5px;
}

form>* {
  margin: 5px;
}
.sub-header {
  font-weight: bolder;
  color: var(--navyBlue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
